@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Nova+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-dark: #1A1A1A;
  --primary-light: #F5F5F5;

  --vivid-blue: 86, 203, 249;
  --cyclamen: 255, 114, 159;
  --aquamarine: 44, 246, 179;
  user-select: none;
  color-scheme: dark;

  background-color: var(--primary-dark);
}

body{
  margin: 0;
}

.stage-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1{
  font-family: 'Monomaniac One';
  font-size: 5em;
  margin: 20px 0;

  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(var(--vivid-blue));
}

h1.aquamarine{
  -webkit-text-stroke-color: rgb(var(--aquamarine));
}

h1.cyclamen{
  -webkit-text-stroke-color: rgb(var(--cyclamen));
}

p.cyclamen{
  color: rgb(var(--cyclamen));
}

p.vivid-blue{
  color: rgb(var(--vivid-blue));
}

p{
  font-family: 'Nova Mono';
  font-size: 1.2em;
  color: var(--primary-light);
}

button{
  font-family: 'Nova Mono';
  font-size: 1.2em;
  padding: 2px 40px;
  margin: 30px 0;

  color: rgb(var(--vivid-blue));
  border: 1px solid rgb(var(--vivid-blue));
  border-radius: 2px;
  background-color: rgba(var(--vivid-blue), 0.2);
  transition: box-shadow 0.2s;
}

button.aquamarine{
  color: rgb(var(--aquamarine));
  border: 1px solid rgb(var(--aquamarine));
  background-color: rgba(var(--aquamarine), 0.2);
}

button.cyclamen{
  color: rgb(var(--cyclamen));
  border: 1px solid rgb(var(--cyclamen));
  background-color: rgba(var(--cyclamen), 0.2);
}

button:hover{
  box-shadow: 0 5px 10px rgba(var(--vivid-blue), 0.4);
}

button.aquamarine:hover{
  box-shadow: 0 5px 10px rgba(var(--aquamarine), 0.4);
}

button.cyclamen:hover{
  box-shadow: 0 5px 10px rgba(var(--cyclamen), 0.4);
}

img{
  margin: 20px 0;
}

em{
  font-family: 'Nova Mono';
}

input{
  font-family: 'Nova Mono';
  font-size: 1.2em;

  color: var(--primary-light);
  border: 1px solid var(--primary-light);
  border-radius: 2px;
  background-color: var(--primary-dark);
}

input[type="number"]:not(.no-spinner){
  padding-left: 5px;
}

input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.binary-cell{
  cursor: pointer;
  background: rgba(var(--vivid-blue), 0.2);
  border: 1px solid rgb(var(--vivid-blue));
  border-radius: 2px;
}

.binary-cell:hover{
  box-shadow: 0 5px 10px rgba(var(--vivid-blue), 0.4);
}

progress {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border: solid 1px rgb(var(--vivid-blue));
  border-radius: 2px;
}

progress::-webkit-progress-bar {
  background-color: rgba(var(--vivid-blue), 0.2);
  border-radius: 2px;
}

progress::-webkit-progress-value {
  background-color: rgb(var(--vivid-blue));
}